/* =========================
   WRAPPER
========================= */
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 16px;
}

/* =========================
   STICKY TABS
========================= */
.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  position: sticky;
  top: 70px;
  z-index: 50;
  background: #fff;
  padding: 16px 0;
}

/* TAB */
.tab {
  flex: 0 0 calc(20% - 15px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 14px;
  border-radius: 10px;
  background: #175885;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  color: #fff;
}

.tab:hover {
  background: #eaf4ff;
  color: #175885;
  border: 1px solid #175885;
}

/* ACTIVE TAB */
.tabActive {
  background: #ecf7ff;
  color: #175885;
  box-shadow: 0 8px 22px rgba(23, 88, 133, 0.35);
  transform: translateY(-2px);
}

.label{
  font-size: 15px;
}

/* =========================
   CONTENT
========================= */
.content {
  max-width: 1280px;
  margin: 150px auto 0;
}

/* =========================
   SERVICE SECTION
========================= */
.serviceSection {
  scroll-margin-top: 250px;
  padding-bottom: 72px;
}

/* HEADING */
.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  font-weight: 700;
  color: #175885;
  margin-bottom: 20px;
}



.para {
  margin-top: 28px;
  font-size: 16px;
  font-weight: 600;
  color: #175885;
}

/* BUTTON */
.bookbtn {
  margin-top: 16px;
  background: #175885;
  color: #fff;
  border: none;
  padding: 10px 16px;
  font-weight: 600;
  cursor: pointer;
}

/* =========================
   MOBILE
========================= */
@media (max-width: 900px) {
  .tabs {
    overflow-x: auto;
    flex-wrap: nowrap;
    scrollbar-width: none;
  }

  .tabs::-webkit-scrollbar {
    display: none;
  }

  .tab {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}
